*~
.DS_Store
.cache
.env
api/primes.pb.go
api/primestream.pb.go
primes_client
primes_server
prime_stream_client
prime_stream_server
venv/
__pycache__
python_*/primes_pb2.py
python_*/primes_pb2_grpc.py
python_*/primestream_pb2.py
python_*/primestream_pb2_grpc.py
minica.pem
minica-key.pem
localhost/
127.0.0.1/
